name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'
          cache-dependency-path: go.sum

      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Download dependencies
        run: go mod download

      - name: Build
        run: wails build -clean

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: CurRate-Windows-amd64
          path: build/bin/CurRate.exe
          retention-days: 7

