name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        include:
          - os: windows-latest
            race: ""
          - os: ubuntu-latest
            race: "-race"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26'
          cache-dependency-path: go.sum

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        shell: bash
        run: go test -v -p 4 ${{ matrix.race }} -coverprofile=coverage.out ./...

      - name: Upload coverage report
        uses: actions/upload-artifact@v6
        with:
          name: coverage-report-${{ matrix.os }}
          path: coverage.out
          retention-days: 7
